<ion-header>
	<ion-navbar color="primary">
		<ion-buttons start>
			<button ion-button (click)="close()">
				Cancel
			</button>
		</ion-buttons>
		<ion-title>
			Alarm
		</ion-title>
		<ion-buttons end>
			<button ion-button (click)="save()">
				Save
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<button ion-item (click)="selectHour()">
			<ion-label class="alarmHour">{{ alarm.date | date:globalization.timeFormat }}</ion-label>
		</button>
	</ion-list>

	<ion-list>
		<ion-list-header>
    		Recurrence
		</ion-list-header>
		<ion-item item-radio *ngFor="let day of weekDays">
			<ion-label>Every {{ day.full.toLowerCase() }}</ion-label>
			<ion-radio color="secondary" value="day.id" (click)="toggleDay(day.id)" [checked]="alarm.days.indexOf(day.id) > -1"></ion-radio>
		</ion-item>
	</ion-list>

	<radio-selector [selectedRadioId]="alarm.radioId" (onRadioSelected)="radioSelect($event)"></radio-selector>

	<button ion-button full color="danger" outline *ngIf="!newAlarm" (click)="delete()">
		Delete this alarm
	</button>
</ion-content>
