page-home {
	.alarmItem {
		&.item-ios {
			.toggle-checked {
				background-color: color($colors, good);
			}
		}

		&.animate {
			animation: peek 0.5s;
		}

		h1 {
			font-size: 50px;
			font-weight: 200;
			color: color($colors, lightText);
		}

		&.item-toggle-checked h1 {
			color: color($colors, black);
		}
	}
}
