<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="goSettings()">
                <ion-icon ios="ios-settings-outline" name="settings"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Alarm</ion-title>
        <ion-buttons end showWhen="ios">
            <button ion-button icon-only (click)="alarmSelected()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let alarm of alarms" (click)="alarmSelected(alarm)">
            <ion-label>
                <h2>{{ alarm.hour }}:{{ alarm.minute }}</h2>
                <p>
                    <span>Radio </span>
                    <span *ngFor="let day of alarm.days">{{ day }} </span>
                </p>
            </ion-label>
            <ion-toggle [disabled]="alarm.loading" [ngModel]="alarm.enabled" (ngModelChange)="onAlarmToggle($event, alarm)"></ion-toggle>
        </ion-item>
    </ion-list>

    <ion-fab right bottom hideWhen="ios">
        <button ion-fab (click)="alarmSelected()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
