page-home {
	.alarmItem {
		h1 {
			font-size: 50px;
			font-weight: 200;
			color: color($colors, lightText);
		}

		&.selected {
			h1 {
				color: color($colors, black);
			}
		}
	}

	.mainLogo {
		height: 100%;

		> div {
			display: flex;
			height: 100%;
			padding: 10px;
			align-items: center;
		}

		img {
			opacity: 0.8;
		}

		&.title-ios {
			> div {
				justify-content: center;
			}

			img {
				height: 100%;
			}
		}

		&:not(.title-ios) {
			img {
				height: 25px;
			}
		}
	}
}
