<ion-header>
	<ion-navbar color="primary">
		<ion-buttons start>
			<button ion-button icon-only (click)="goSettings()">
				<ion-icon ios="ios-settings-outline" name="settings"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Alarm</ion-title>
		<ion-buttons end showWhen="ios">
			<button ion-button icon-only (click)="alarmSelected()">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<connection-status></connection-status>
	<ion-list>
		<ion-item-sliding *ngFor="let alarm of alarms" #item [ngClass]="{'active-slide active-options-right': item.animate}">
			<ion-item class="slidingItem" [ngClass]="{'animate': item.animate}">
				<ion-label (click)="itemClicked(item)">
					<h1>{{ alarm.date | date:globalization.timeFormat }}</h1>
					<p>
						<span>{{ radioListService.getRadio(alarm.radioId, 'label') | async }}</span>
						<span *ngIf="alarm.days.length > 0">, </span>
						<span>{{ alarm.days | weekDays: false }}</span>
					</p>
				</ion-label>
				<ion-spinner item-content *ngIf="alarm.loading"></ion-spinner>
				<ion-toggle item-content color="secondary" [(ngModel)]="alarm.enabled" (ngModelChange)="toggleAlarm(alarm)"></ion-toggle>
			</ion-item>
			<ion-item-options side="left">
				<button ion-button color="danger" (click)="deleteAlarm(alarm.id, true)">
					<ion-icon name="trash"></ion-icon>
					Delete
				</button>
			</ion-item-options>
			<ion-item-options side="right">
				<button ion-button color="secondary" [disabled]="radioLoading || !online" (click)="play(alarm.radioId)">
					<ion-icon *ngIf="!radioPlaying" name="play"></ion-icon>
					<ion-icon *ngIf="radioPlaying" name="pause"></ion-icon>
				</button>
			</ion-item-options>
			<ion-item-options side="right">
				<button ion-button (click)="alarmSelected(alarm); item.close();">
					<ion-icon name="md-create"></ion-icon>
					Edit
				</button>
			</ion-item-options>
		</ion-item-sliding>
		<p *ngIf="alarms.length === 0" class="emptyListMessage">No alarm</p>
	</ion-list>

	<ion-fab left bottom>
		<button color="secondary" ion-fab [disabled]="radioLoading || !online" (click)="play()">
			<ion-icon *ngIf="!radioPlaying" name="play"></ion-icon>
			<ion-icon *ngIf="radioPlaying" name="pause"></ion-icon>
		</button>
	</ion-fab>

	<ion-fab right bottom hideWhen="ios">
		<button color="secondary" ion-fab (click)="alarmSelected()"><ion-icon name="add"></ion-icon></button>
	</ion-fab>
</ion-content>
