// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.emptyListMessage {
	position: absolute;
	top: 40%;
	font-size: 30px;
	color: color($colors, lightText);
	text-align: center;
	width: 100%;
}

.content {
	background-color: color($colors, light);
}

.list-header-md {
	margin-bottom: 0;
}

.slidingItem {
	&.animate {
		animation: peek 0.5s;
	}
}

.playingToast {
	.toast-container,
	.toast-wrapper {
		display: inline-block;
		left: auto;
		width: auto;
	}

	.toast-message {
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
	}
}




@keyframes peek {
    0% {
    	transform: translate3d(0px, 0px, 0px);
    }

    50% {
    	transform: translate3d(-30px, 0px, 0px);
    }

    100% {
    	transform: translate3d(0px, 0px, 0px);
    }
}
