<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			Settings
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-list-header>
			Network
		</ion-list-header>
		<button ion-item (click)="scan()">
			<span *ngIf="!(connectionService.scanRunning | async)">Automatic scan</span>
			<span *ngIf="connectionService.scanRunning | async" color="danger">Cancel</span>
			<ion-spinner item-right *ngIf="connectionService.scanRunning | async"></ion-spinner>
		</button>
		<ion-item>
			<ion-label color="secondary" stacked>Ip address</ion-label>
    		<ion-input placeholder="192.168.1.2" [(ngModel)]="ipAddress" (ngModelChange)="setIpAddress()" [disabled]="connectionService.scanRunning | async"></ion-input>
		</ion-item>

		<connection-status></connection-status>
	</ion-list>

	<ion-list>
		<ion-item>
			<ion-label color="secondary" stacked class="badgedLabel">
				Volume increment
				<ion-badge [ngClass]="{'online': online}" color="secondary">{{ increment > 0 ? increment + ' min' : 'Instant' }}</ion-badge>
			</ion-label>
			<ion-range [disabled]="!online" color="secondary"  min="0" max="10" [(ngModel)]="increment" (ngModelChange)="setConfig()">
				<ion-icon range-left name="flash" color="secondary"></ion-icon>
				<ion-icon range-right name="cafe" color="secondary"></ion-icon>
			</ion-range>
		</ion-item>

		<ion-item>
			<ion-label color="secondary" stacked class="badgedLabel">
				Radio duration
				<ion-badge [ngClass]="{'online': online}" color="secondary">{{ duration < 120 ? (duration | minuteHours) : 'Manual'}}</ion-badge>
			</ion-label>
			<ion-range [disabled]="!online" color="secondary"  min="15" max="120" step="15" snaps="true" [(ngModel)]="duration" (ngModelChange)="setConfig()">
				<ion-icon range-left name="clock" color="secondary"></ion-icon>
				<ion-icon range-right name="close-circle" color="secondary"></ion-icon>
			</ion-range>
		</ion-item>
	</ion-list>

	<radio-selector [selectedRadioId]="defaultRadioId" (onRadioSelected)="radioSelected($event)" label="Default radio"></radio-selector>
</ion-content>
